$main-color: #4372ea;
$secondary-color: #fa7052;
$secondary-back-color: #eff1f4;
$text-main-color: #171e36;
$text-secondary-color: #878fa2;
$text-gray-color: #666e81;
$text-blue-color: #b6c8f3;

$fields-back-color: #f2f3f6;
$border-gray-color: #e5e5e7;
$fields-yellow-color: #fff7ec;
$tooltips-color: #878fa2; // ??
$scroll-color: #c0bfbf47;
$main-nav-hover-back-color: #edeff2;
$disabled-color: #bdc4d4;
$main-hover-back-color: #4372ea;
$error-color: #ea5743;
$green-color: #51d323;
$discount-color: #2eae36;
$discount-back-color: #ecfbee;
$fields-blue-color: #ecf1ff;
$fields-dark-blue-color: #bfd0ff;

$telegram-color: #27aaeb;
$whatsapp-color: #43d854;
$vk-color: #0077ff;
$youtube-color: #cd201f;
$dzen-color: #171e36;
$odnoclass-color: #ee7f31;

// old scheme
//$main-color: #387aff;
$main-back: linear-gradient(247.17deg, rgba(244, 239, 235, 0.5) -4.3%, #f7f7f9 92.11%);
//$text-main-color: #1f3149;
//$text-secondary-color: #808080;

$primary-default-color: #387aff;
$primary-hover-color: #1160ff;
$primary-active-color: #004de9;
$primary-disabled-color: #9cbdff;

$secondary-default-color: #ecf2ff;
$secondary-hover-color: #fff;
$secondary-active-color: #cddeff;
$secondary-disabled-color: #ecf3ff;

$button-primary-text-color: #fff;
$button-secondary-text-color: $text-main-color;
$button-secondary-active-text-color: $text-main-color;
$button-secondary-disable-text-color: #92b6ff;

$input-bg-color: #f2f8ff;
$input-placeholder-text-color : #757f93;

$dropdown-border-header-color: #9cbdff;
$dropdown-bg-hover: #f2f8ff;

$back-gray: #f1f4f9;
$back-services: #f2f8ff;
$border-color: #e8f0ff;

$warn-back: #fff1f7;
$warn-text: #ff387a;
$info-back: #f0f5ff;
$online-back: #f5f9ff;

$black-40: #606060;
$black-20: #808080;
$black-10: #9F9F9F;
$black-5: #BFBFBF;






