.read-more {
  &.close:before {
    content: '';
    display: block;
    height: 300px;
    width: 100%;
    pointer-events: none;
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  }
  &__body {
    max-height: 215px;
    overflow: hidden;
    &.open {
      max-height: none;
    }
  }
  &__button-close, &__button-open {
    margin-top: $margin-4;
    & .icons {
      margin-left: $margin-2;
    }
    cursor: pointer;
    color: $main-color;
  }
  &__button-close-text, &__button-open-text, {
    cursor: pointer;
    color: $main-color;
  }
  &__button-open-wide{
    cursor: pointer;
    border: 1px solid $main-color;
    border-radius: 10px;
    height: 45px;
    max-width: 142px;
    margin: 12px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button-close-text {
    padding-top: $margin-4;
  }
  &__body-text {
    margin-top: $margin-3;
  }
}
